@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heading1 {
    @apply text-black200 dark:text-white900 text-[2.625rem] tracking-[-0.02625rem] leading-[3.018rem] xl:text-[4rem] not-italic font-bold xl:leading-[5.2rem] xl:tracking-[-0.04rem];
  }
}

.testimonialButton {
  width: 3rem;
  height: 3rem;
  border-radius: 1.75rem;
  border: 1px solid var(--white-800, #f3f8ff);
  background: var(--white-900, #fff);
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  backdrop-filter: blur(4px);
}

.seeMoreCaseStudies {
  display: flex;
  width: 20.1875rem;
  padding: 1.25rem 0.75rem;
  border-radius: 562.5rem;
  background: var(--accent-primary-light, #0252cd);
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: var(--white-900, #fff);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-align: center;
}

.projectName {
  color: var(--white-900, #fff);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.02rem;
}

.techStack {
  padding: 0.625rem;
  gap: 0.625rem;
  border-radius: 0.375rem;
  background: rgba(255, 255, 255, 0.2);
}

.job {
  height: 13.125rem;
  border-radius: 0.625rem;
  box-shadow: -25px 47px 66px 0px rgba(0, 0, 0, 0.08);
  background: var(--white-900, #fff);
  flex-shrink: 0;
}

.mainWorkExperienceCard {
  padding: 3.68181rem 2.375rem 2.392rem 2.375rem;
  border-radius: 1rem;
  background: var(--black-200, #151e2c);
}

.ExperienceCardHeader {
  display: flex;
  height: 5.09788rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--white-900, #fff);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.0225rem;
}

.serviceCard {
  width: 17.95988rem;
  height: 16.5625rem;
  border-radius: 0.625rem;
  box-shadow: 0px 1px 20px 0px #e0ecff;
  background: #f3f8ff;
}

.serviceCard:hover {
  box-shadow: 32px 32px 71px 0px rgba(2, 82, 205, 0.28);
  background: var(--accent-primary-light, #0252cd);
}

.serviceIcon {
  width: 3.875rem;
  height: 3.875rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  box-shadow: 10px 10px 26px 0px rgba(2, 82, 205, 0.28);
}

.mySkills {
  color: var(--black-200, #151e2c);
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: -0.0225rem;
  text-align: center;
}

.paragraphBold {
  /* Paragraph/Semibold */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 26px */
}

.heading2 {
  text-align: center;
  /* Heading/H2 */
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  /* 55.2px */
  letter-spacing: -0.03rem;
}

.heading3 {
  text-align: center;
  /* Heading/H3 */
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  /* 33.6px */
  letter-spacing: -0.01rem;
}

.baseRegular {
  /* Base/Regular */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  /* 31.2px */
}

.baseBold {
  /* Base/Semibold */
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 31.2px */
}

.paragraphRegular {
  /* Paragraph/Regular */
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 30px */
}

.bodyRegular {
  /* Body/Regular */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 28.8px */
}

.bodyBold {
  /* Body/Semibold */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 28.8px */
}

.smallRegular {
  /* Small/Regular */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 155%;
  /* 21.7px */
}

.smallBold {
  /* Small/Bold */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  /* 20.3px */
}

.logo {
  display: flex;
  width: 1.875rem;
  height: 1.875rem;
  padding: 0.52081rem;
  border-radius: 468.75rem;
  background: conic-gradient(
    from 180deg at 50% 75.56%,
    #0252cd 0deg,
    rgba(2, 82, 205, 0.33) 360deg
  );
  flex-direction: column;
  align-items: flex-start;
  gap: 0.52081rem;
  flex-shrink: 0;
  transform: rotate(180deg);
}

.logoText {
  display: flex;
  width: 0.83rem;
  height: 0.83rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--white-900, #fff);
  text-align: center;
  font-size: 0.73rem;
  font-style: normal;
  font-weight: 400;
  line-height: 240%;
  /* 28px */
  transform: rotate(180deg);
}

.primaryButton {
  display: flex;
  width: 100%;
  height: 2.9375rem;
  padding: 0.84394rem 0.50638rem;
  justify-content: center;
  align-items: center;
  gap: 0.42194rem;
  flex-shrink: 0;
  border-radius: 379.77006rem;
  background: var(--accent-primary-light, #0252cd);
}

.primaryButtonText {
  color: var(--white-900, #fff);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-align: center;
}

.contactButton {
  display: flex;
  width: 100%;
  height: 2.9375rem;
  padding: 0.875rem 1rem;
  border-radius: 37.5rem;
  background: var(--white-900, #fff);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 37.5rem;
  background: var(--white-900, #fff);
}

.contactButtonText {
  color: var(--white-500, #6f74a7);
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  /* 1.4rem */
}

.heroImage {
  mix-blend-mode: multiply;
}
